<div id="background" class="d-flex flex-row justify-content-center">
  <div class="d-flex flex-row justify-content-center">
    <form class="container bg-dark" style="border-radius: 30px; width: 600px; height: 600px">
      <div class="form-group">
        <label for="correo_electronico">Correo Electrónico:</label>
        <input type="email" class="form-control" id="correo_electronico" placeholder="Ingrese su correo electrónico">
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" class="form-control" id="contrasena" placeholder="Ingrese su contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
  </div>
</div>
