#background{
  background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/2005/Night_city_glow_lights_2020_HD_Photography_1366x768.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}
#espacioImg{
  margin-top: 15vh;
}
#formulario{
  border-radius: 30px;
  min-width: 40vw;
  height: 70%;
  position: center;
}
#posicionObjetos{
  margin: 10%;
}
.entradas{
  margin-bottom: 2vh;
  margin-top: 4vh;
}
#colorBoton{
  background-color: #02A2B9;
  min-width: 20vw;
}
#imgEstilo{
  background-color: white;
  width:170px;
  height:150px;
  position: absolute;
  top: 15vh
}
#enlace{
  color: #02A2B9;
  text-decoration: none;
}
