#background{
  background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/2005/Night_city_glow_lights_2020_HD_Photography_1366x768.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}
#formulario{
  border-radius: 30px;
  min-width: 50vw;
  height: 80%;
  position: center;
}
#posicionObjetos{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.entradas{
  margin-bottom: 2vh;
  margin-top: 4vh;
}
#colorBoton{
  background-color: #02A2B9;
  min-width: 20vw;
}
#tituloEstilo{
  width:400px;
  height: 60px;
  position: absolute;
  top: 15vh;
  background-color: #02A2B9;
  color: white;
  border-radius: 25px;
  vertical-align: middle;
  horiz-align: center;
  text-align: center;
}
#enlace{
  color: #02A2B9;
  text-decoration: none;
}
