<div id="background" class="d-flex flex-row justify-content-center">
  <div *ngIf="formGroup" class="vh-100 row m-0 align-items-center justify-content-center d-flex flex-row justify-content-center">
    <img class="rounded-circle" id="imgEstilo" alt="persona" src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600119/59070200-icono-de-usuario-hombre-perfil-hombre-de-negocios-avatar-icono-persona-en-la-ilustraci%C3%B3n-vectorial.jpg?ver=6">
    <form [formGroup]="formGroup" class="col-auto container bg-dark text-light" id="formulario">
      <div id="posicionObjetos" class="row" id="espacioImg">
        <div class="col-6">
          <div class="form-group entradas" >
            <label for="nombre">Nombre completos:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre completos">
          </div>
          <div class="form-group entradas">
            <label for="contrasena">Contraseña:</label>
            <input type="password" class="form-control" id="contrasena" placeholder="***************">
          </div>
          <div class="row">
            <div class="form-group entradas">
              <label for="fecha">Contraseña:</label>
              <input type="date" class="form-control" id="fecha" placeholder="***************">
            </div>
          </div>
        </div>

        <div class="form-group entradas"></div>
          <label for="correo_electronico">Correo Electrónico:</label>
          <input type="email" class="form-control" id="correo_electronico" placeholder="example@email.com">
        </div>

        <div class="d-flex flex-row justify-content-center">
          <button (click)="registrarse()" type="submit" class="btn btn-primary entradas" id="colorBoton">¡REGISTRATE YA!</button>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <span>¿No tienes una cuenta? <a [routerLink]="['/registro']" id="enlace">Registrate aquí</a>
        </span>
        </div>
   
    </form>
  </div>
</div>

