#background{
  background-image: url('https://photo620x400.mnstatic.com/807e6bd4e5e896bf9429671c18136117/mercado-artesanal.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}
#formulario{
  border-radius: 30px;
  min-width: 50vw;
  height: 70vh;
  position: center;
}
#posicionObjetos{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.entradas{
  margin-bottom: 2vh;
  margin-top: 4vh;
}
#colorBoton{
  background-color: #02A2B9;
  min-width: 20vw;
}
#tituloEstilo{
  width:400px;
  height: 60px;
  position: absolute;
  top: 20vh;
  background-color: #02A2B9;
  color: white;
  border-radius: 25px;
  vertical-align: middle;
  horiz-align: center;
  text-align: center;
}
#enlace{
  color: #02A2B9;
  text-decoration: none;
}
.formularioSignup {
  background-color: rgba(0, 0, 0, 0.8);
}
